//
// base
//

// variables
$global-margin:     20px;

// mixins
@mixin clearfix {
  *zoom:1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

// base classes
html,
body {
  height: 100%;
  padding: 1rem 0.5rem;
}

section {
  margin: 0 0 $global-margin;

  @include clearfix;
}

footer {
  height: 150px;
  
  @include clearfix;
}