//
// typography
//

// famous ratios
$PERFECT_FOURTH:          (4/3);
$PERFECT_FIFTH:           (3/2);
$GOLDEN_RATIO:            1.618;
// ... add your ratio here
// http://en.wikipedia.org/wiki/Golden_ratio

// set your ratio here
$scale:                   $PERFECT_FIFTH;

$base-font-size:          100% !default;
$base-line-height:        150% !default;
$rem-base:                16px !default;

// every font is different
// scales that look good with one font will not look good with another
// pls experiment
$serif-font-family:       "Georgia", "Times", serif !default;
$sans-serif-font-family:  "Helvetica Neue", "Helvetica", Arial, sans-serif !default;

$headings-font-family:    $sans-serif-font-family;
$body-font-family:        $sans-serif-font-family;

$text-color:              #20202e;
$text-accent-color:       #bc131a;
$text-muted-color:        #889;

// media queries
// use your site's breakpoints
$small:                   640px;


html,
body {
  //font-size: 100%;

  // prevents ios safari from zooming on orientation change (maybe)
  // -webkit-text-size-adjust: none;
}

// body typography
body {
  color: $text-color;
  font-family: $body-font-family;
}

// headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.75rem;
  font-family: $headings-font-family;
  line-height: 1.1;
}

// typographic scale for headings
// built based on your scale
h6 { color: $text-muted-color; }

// paragraph text
p {
  margin: 0 0 0.75rem;
  font-family: inherit;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;

  &.lead {
    font-size: $base-font-size * $scale * 0.85;
    line-height: 1.33;
  }
}

// lists
ul,
ol {

  li {
    line-height: $base-line-height;
  }

  &.unstyled {
    padding: 0;
    list-style: none;
  }

  &.inline {
    margin: 0 1rem 0.75rem -1rem;
    padding: 0;
    list-style: none;
    overflow: hidden;
    
    & > li {
      display: block;
      float: left;
      margin-left: 1rem;
      list-style: none;
    }
  }
}

// blockquotes
blockquote {
  position: relative;
  margin: 1rem 1rem 0.75rem 3rem;

  p {
    @extend .lead;
  }

  &:before {
    content: "“";
    display: block;
    position: absolute;
    top: -1rem;
    left: -3rem;
    color: $text-muted-color;
    font-size: 5rem;
    line-height: 1;
  }
}

// utility classes
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

// media queries
// your small-screen breakpoint
// use your own breakpoints here
@media only screen and (min-width: #{$small + 1px}) {
  h1 { font-size: $base-font-size * $scale * $scale * $scale * $scale; }
  h2 { font-size: $base-font-size * $scale * $scale * $scale; }
  h3 { font-size: $base-font-size * $scale * $scale; }
  h4 { font-size: $base-font-size * $scale; }
  h5 { font-size: $base-font-size; }
  h6 { font-size: $base-font-size; }

  p.lead {
    font-size: $base-font-size * $scale;
  }
}
